{% extends 'base.html' %}
{% load bootstrap4 %}

{% block headscript %}
{{form.media}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.5.1/tinymce.min.js"></script>
<script>
    tinymce.init({
      selector: '#id_bio',
      menubar: 'file edit view',
      toolbar: 'undo redo | bold italic'
    });
</script>
{% endblock headscript %}


{% block content %}


<main id="main">

    <!-- ======= Bio Form Section ======= -->
    <section id="bio-form" class="bio-form" style="margin-top:84px;">
      <div class="container">

        <div class="section-title">
          <h2>Submit a Biography</h2>          
        </div>

        <div class="row">
          <p class="mb-2">To submit biographical information for a United States Military veteran who is a current or former resident of southeastern Pennsylvania, please use the form below to provide requested information.
            Remembrances may be left by family members, friends or acquaintances of the veteran in the Remembrance field at the bottom of the page.
          </p>
          <p class="mb-2">If you have difficulty in completing or submitting biographical information or a remembrance, please <a href="{% url 'home' %}#contact">contact us</a> for assistance.
          <p>Thank you for contributing to our project!</p>
        </div>

        <div class="row mt-5">
          <div class="col-12">
            <form method="POST" enctype="multipart/form-data">
            <p style="color:red;">* indicates required field</p>
                {% csrf_token %}
                {% bootstrap_form_errors form %}
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.name required_css_class="required-field" %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.image required_css_class="required-field" %}
                    </div>
                </div>
                

                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.hometown required_css_class="required-field" %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.county required_css_class="required-field" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.dob %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.doc %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.branch required_css_class="required-field" %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.rank required_css_class="required-field" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.country required_css_class="required-field" %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.status required_css_class="required-field" %}
                    </div>
                </div>
                <div class="form-group required-field">
                    <label for="id_bio">Biography</label>
                    <textarea name="bio" cols="40" rows="10" class="form-control" placeholder="Biography" title="" id="id_bio">
                </textarea></div>
                <p>You can add up to 6 additional images to the biography page</p>
                <div class="row">
                    <div class="col-md-4">
                        {% bootstrap_field form.adtl_img_1 %}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.adtl_img_2 %}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.adtl_img_3 %}
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {% bootstrap_field form.adtl_img_4 %}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.adtl_img_5 %}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.adtl_img_6 %}
                    </div>
                </div>         
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit Biography</button>
                </div>

            </form>
          </div>

        </div>


      </div>
    </section><!-- End Bio Form Section -->


</main>


{% endblock content %}
