{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}


<main id="main">

    <!-- ======= Confirm Donation Section ======= -->
    <section id="confirm-donation" class="confirm-donation" style="margin-top:84px; min-height:100vh;">
      <div class="container">

        <div class="section-title">
          <h2>Confirm Donation</h2>
        </div>

        <div class="row mt-2">
            <div class="col-lg-8 pt-lg-0 content mx-auto">
                <form method="POST" action="{% url 'confirm_donation' %}">
                {% csrf_token %}
                <input type="hidden" id="customer_id" name="customer_id" value="{{customer_id}}">
                <input type="hidden" id="amount" name="amount" value="{{amount}}">
                <div class="text-center">
                    <h4>Please confirm your donation in the amount of <strong>${{amount|floatformat:2}}</strong>.<br> Your payment method will be charged at this time. <br></h4>
                
                    <button class="btn btn-primary donate-btn">Confirm Donation</button>
                </div>
            </form>
          </div>
        </div>


      </div>
    </section><!-- End Bio Form Section -->


</main>


{% endblock content %}
