{% extends 'base.html' %}
{% load bootstrap4 %}
{% block headscript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.5.1/tinymce.min.js"></script>
<script>
    tinymce.init({
      selector: '#id_remembrance',
      menubar: 'file edit view',
      toolbar: 'undo redo | bold italic'
    });
</script>
{% endblock headscript %}


{% block content %}


<main id="main">

    <!-- ======= Bio Form Section ======= -->
    <section id="bio-detail" class="bio-detail" style="margin-top:84px;">
      <div class="container">
        <div class="row search-row mb-3 text-center" style="margin-left:5px">
          <div class="col-lg-9 search-bar">
            <form action="{% url 'vet_search' %}" method="get" style="margin-left: 10px; margin-bottom: 10px;">
              <div class="input-group">
                <input name="q" type="text" placeholder="Search by Name">	
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-sm"></i>Search</button>
                </div>
              </div>
					  </form>
          </div>
          <div class="col-lg-3 search-bar">
            <a href="{% url 'home' %}" class="btn btn-primary">Back to Wall of Honor</a>
          </div> 
        </div>
        <div class="section-title">
          <h2>{{vet.name}} - {{vet.rank}}</h2>
        </div>

        <div class="row mt-5">
          <div class="col-lg-6 text-center">
            <img class="img-fluid" src="{{vet.image.url}}">
          </div>

          <div class="col-lg-6 vet-details">
            <div class="row">
                <div class="col-md-6 vet-info">
                    <p><strong>Hometown: </strong>{{vet.hometown}}</p>
                </div>
                <div class="col-md-6 vet-info">
                    <p><strong>County: </strong>{{vet.county}}</p>
                </div>
                <div class="col-md-6 vet-info">
                    <p><strong>Date of Birth: </strong>{{vet.dob}}</p>
                </div>
                <div class="col-md-6 vet-info">
                    <p><strong>Date of Casualty: </strong>{{vet.doc}}</p>
                </div>     
                <div class="col-md-6 vet-info">
                    <p><strong>Branch: </strong>{{vet.branch}}</p>
                </div>
                <div class="col-md-6 vet-info">
                    <p><strong>Rank: </strong>{{vet.rank}}</p>
                </div>    
                <div class="col-md-12 vet-info">
                    <p><strong>Country of Service: </strong>{{vet.country}}</p>
                </div>                
            </div>
          </div>
          <div class="col-12 mt-5">
          <h3>BIOGRAPHY</h3>
          <p>{{vet.bio|safe}}</p>
          </div>
        </div>
        <div class="row remembrance-row mt-3">
          <div class="col-12 text-center">
            <button class="btn red-button" type="button" id="remembranceButton">Leave a Remembrance</button>
          </div>
          <div class="col-12">
            <div class="show-or-hide">
            

                  <form method="POST" action="{% url 'submit_remembrance' vet_id=vet.id %}">
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}
                    {% bootstrap_field form.veteran %}
                    {% bootstrap_field form.title %}
                    <div class="form-group">
                        <label for="id_remembrance">Remembrance</label>
                        <textarea name="remembrance" cols="40" rows="10" class="form-control" placeholder="Remembrance" title="" id="id_remembrance">
                    </textarea></div>
                    <div class="row">
                      <div class="col-lg-4">
                        {% bootstrap_field form.name %}
                      </div>
                      <div class="col-lg-4">
                        {% bootstrap_field form.email %}
                      </div>
                      <div class="col-lg-4">
                        {% bootstrap_field form.relationship %}
                      </div>
                    </div>
                      <div class="text-right">
                        <button type="submit" class="btn btn-primary">Submit Remembrance</button>
                      </div>

                  </form>
              
            </div>
          </div>
          <div class="col-12 mt-2 remembrances">
            <h2>REMEMBRANCES</h2>
            {% for rem in vet.get_remembrances.all  %}
            <div class="remembrance-container">
              <p class="remembrance-submittor">Posted On: {{rem.created_at}} | Posted By: {{rem.name}} - {{rem.relationship}}</p>
              <h4>{{rem.title|upper}}</h4>
              <p>{{rem.remembrance|safe}}</p>
              
            </div>
            {% endfor %}
          </div>
        </div>


      </div>
    </section><!-- End Bio Form Section -->


</main>


{% endblock content %}

{% block footscript %}
<script>
$(function() {
  if($('input#id_title').val() || $('input#id_remembrance').val() || $('input#id_name').val() || $('input#id_email').val() ){
    $('.show-or-hide').show();
  } else {
    $('.show-or-hide').hide();
  }
});
$("#remembranceButton").click(function() {
    $('.show-or-hide').toggle();
});

</script>

{% endblock footscript %}
