{% extends 'base.html' %}

{% block content %}


<main id="main">

    <!-- ======= Bio Form Section ======= -->
    <section id="bio-detail" class="bio-detail" style="margin-top:84px;">
      <div class="container">
        <div class="row search-row mb-3 text-center" style="margin-left:5px">
          <div class="col-lg-9 search-bar">
            <form action="{% url 'vet_search' %}" method="get" style="margin-left: 10px; margin-bottom: 10px;">
              <div class="input-group">
                <input name="q" type="text" placeholder="Search by Name">	
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-sm"></i>Search</button>
                </div>
              </div>
					  </form>
          </div>
          <div class="col-lg-3 search-bar">
            <a href="{% url 'home' %}" class="btn btn-primary">Back to Wall of Honor</a>
          </div> 
        </div>
        <div class="section-title">
          <h2>{{vet.name}} - {{vet.rank}}</h2>
        </div>

        <div class="row mt-5">
          <div class="col-lg-6 text-center">
            <img class="img-fluid" src="{{vet.image.url}}">
          </div>

          <div class="col-lg-6 vet-details">
            <div class="row">
                <div class="col-md-6 vet-info">
                    <p><strong>Hometown: </strong>{{vet.hometown}}</p>
                </div>
                <div class="col-md-6 vet-info">
                    <p><strong>County: </strong>{{vet.county}}</p>
                </div>
                <div class="col-md-6 vet-info">
                    <p><strong>Date of Birth: </strong>{{vet.dob}}</p>
                </div>
                <div class="col-md-6 vet-info">
                    <p><strong>Date of Casualty: </strong>{{vet.doc}}</p>
                </div>     
                <div class="col-md-6 vet-info">
                    <p><strong>Branch: </strong>{{vet.branch}}</p>
                </div>
                <div class="col-md-6 vet-info">
                    <p><strong>Rank: </strong>{{vet.rank}}</p>
                </div>    
                <div class="col-md-12 vet-info">
                    <p><strong>Country of Service: </strong>{{vet.country}}</p>
                </div>                
            </div>
          </div>
          <div class="col-12 mt-5">
          <h3>Biography</h3>
          <p>{{vet.bio|safe}}</p>
          </div>
        </div>


      </div>
    </section><!-- End Bio Form Section -->


</main>


{% endblock content %}
